<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
  <%= f.label "Commenter Name:" %><br>
    <%= f.text_field :author, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :comment_entry %><br>
    <%= f.text_area :comment_entry, class: "form-control" %>
  </div>
  <div class="field cant-see-me">
    <%= f.number_field :blog_post_id, value: @blog_post.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
