<p id="notice"><%= notice %></p>

<div class ="panel panel-heading">
  <div class="panel-heading">
    <%= @blog_post.title %>
  </div>
</div>
<div class = "panel-body">
  by <strong><%= @blog_post.author %></strong><span class="posted-at"> posted at: <%= @blog_post.created_at.strftime('%m/%d/%Y %I:%M%p') %></span><br />
  
  <p><%= @blog_post.blog_entry %></p>
  
  <div class="panel panel-success">
    <div class = "panel-heading">
      Make a Comment
    </div>
    <div class ="panel-body">
      <%= render 'comments/form' %> 
    </div>
  </div>

<div class="panel panel-default">
  <div class="panel-header">
    <h4>Comments</h4>
    </div>
<% @blog_post.comments.each do |comment| %>
<div class="panel-body">
  <p><strong><%= comment.author %></strong> said: </p>
  <p><%= comment.comment_entry %></p>
  <p><span class="posted-at"><%= comment.created_at.strftime('%m/%d/%Y %I:%M%p') %></span></p>
  </div>
  <% end %>
  </div>
  </div>
    <div class="btn-group">
<%= link_to 'Back to HomePage', blog_posts_path, class:"btn btn-primary" %>
</div>

