<p id="notice"><%= notice %></p>

<div class ="panel panel-heading">
  <div class="panel-heading">
    <%= @blog_post.title %>
  </div>
</div>
<div class = "panel-body">
   <div class="container">
  by <strong><%= link_to @blog_post.user.username, user_posts_path(id: @blog_post.user.id) %></strong> <span class="posted-at"> posted at: <%= @blog_post.created_at.strftime('%m/%d/%Y %I:%M%p') %></span><br />
  <p><%= @blog_post.blog_entry %></p>
  </div>
  </div>
  <div class="panel panel-success">
    <div class = "panel-heading">
      Make a Comment
    </div>
    <div class ="panel-body">
      <%= render 'comments/form' %> 
    </div>

<div class="panel panel-default">
  <div class="panel-header">
    <h4>Comments</h4>
    </div>
<% @blog_post.comments.each do |comment| %>
<div class="panel-body">
  <p><strong><%= link_to comment.user.username, user_posts_path(id: comment.user.id) %></strong> said: </p>
  <div class="container">
  <p><%= comment.comment_entry %></p>
  <p><span class="posted-at"><%= comment.created_at.strftime('%m/%d/%Y %I:%M%p') %></span></p>
  </div>
  <% end %>
  </div>
  </div>
<% if current_user.id == @blog_post.user.id %>
   <div class="panel-footer">
   <%= link_to 'Edit', edit_blog_post_path(@blog_post), class: "btn btn-info" %>
   <%= link_to 'Destroy', @blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    </div>
      <% end %>
